alembic==1.16.5
beautifulsoup4==4.13.4
cryptography==45.0.6
EbookLib==0.19
fastapi==0.116.1
lxml==6.0.2
markdown-it-py==4.0.0
pydantic==2.11.7
pydantic-settings==2.10.1
PyMySQL==1.1.1
pypdf==6.0.0
python-docx==1.2.0
python-dotenv==1.1.1
python-multipart==0.0.20
SQLAlchemy==2.0.43
typing-extensions==4.15.0
uvicorn[standard]==0.35.0
